.About {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

*{
  position: relative;
}

.About-bg {
  clip-path: polygon(62.5% 0%, 100% 0%, 100% 100%, 50% 100%);
  background-color: rgb(5, 46, 99);
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  position: absolute;
}

.About-left {
  flex: 1;
  width: 34%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
}

.About-left:hover > .About-left-img-container {
  transform: translate(-25px,-20px);
  transition-duration: 0.5s;
}

.About-left:hover > .About-left-img-container.bg {
  transform: translate(25px,20px);
  transition-duration: 0.5s;
}

.About-right {
  flex: 1;
  width: 66%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.About-left-img-container.bg {
  position: absolute;
  top: 33%;
  left: 2.2vw;
  background-color: rgb(5, 46, 99);
  border: none;
}

.About-left-img-container {
  width: 20vw;
  height: 18vw;
  border-radius: 30px;
  position: absolute;
  top: 40%;
  left: 8.5vw;
  overflow: hidden;
}

.About-left-img {
  height: 100%;
  width: 100%;
  object-fit: fill;
}

.About-right-title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1ac096;
  font-size: 2.9vw;
  margin-top: 50px;
}

.About-right-exp {
  display: flex;
  margin: 2vw;
  gap: 2vw;
}

.About-right-exp-container-wrapper {
  display: flex;
  height: 15vw;
  width: 15vw;
  flex-direction: column;
  background-color: #c73557;
  border-radius: 30px;
  padding: 30px;
  position: relative;
}

.About-right-exp-container-wrapper:hover {
  opacity: 0.7;
  transition-duration: 0.7s;
  cursor: pointer;
}

.About-right-exp-container {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.About-right-ff-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.About-right-ff {
  display: flex;
  margin: 50px;
  justify-content: space-between;
}

.About-right-exp-container-title {
  color: #172b4d;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1vw;
  margin-bottom: 1vw;
}

@media screen and (max-width: 1100px) {
  .About-left {
    display: none;
  }

  .About-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }

  .About-right-exp {
    flex-direction: column;
  }

  .About-right-title {
    font-size: 6vw;
  }

  .About-right-exp-container-wrapper {
    height: 32vw;
    width: 32vw;
  }

  .About-right-exp-container {
    gap: 25px;
  }

  .About-right-exp-container-title {
    color: #172b4d;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5vw;
    margin-bottom: 1vw;
  }
}