.Exp {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 7vw;
}

.Exp-lang-container {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 0.5vw;
  color: #172b4d;
  margin-left: 0;
  margin-right: auto;
}

.Exp-lang {
  font-size: 1vw;
}

.Exp-level {
  font-size: 0.69vw;
}

.Exp-check {
  font-size: 1vw;
}

.Exp-level-container {
  flex: 1;
  display: flex;
  margin-left: 1.3vw;
  color: rgb(92, 27, 27);
  margin-right: auto;
}

@media screen and (max-width: 1100px) {
  .Exp {
    width: 14vw;
  }

  .Exp-lang-container {
    gap: 1vw;
  }

  .Exp-lang {
    font-size: 2vw;
  }

  .Exp-level {
    font-size: 1.4vw;
  }

  .Exp-check {
    font-size: 2vw;
  }

  .Exp-level-container {
    margin-left: 2.6vw;
  }
}