.Main {
  position: relative;
  height: 26vw;
  width: 21vw;
}

.Card {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}

.Main:hover > .Card {
  transform: rotateY(180deg);
}

.Front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: linear-gradient(to right bottom, #ffc60d, #c63457);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}

.Back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: linear-gradient(to right bottom, #ffc60d, #c63457);
  transform: rotateY(180deg);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

.Card-title {
  margin-top: 2.5vw;
  margin-bottom: 5vw;
  font-size: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Card-content {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1vw;
  margin: 1.3vw;
  text-align: justify;
  text-justify: inter-word;
}

@media screen and (max-width: 1100px) {
  .Main {
    height: 200px;
    width: 300px;
  }

  .Card-title {
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .Card-content {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    margin: 25px;
    text-align: justify;
    text-justify: inter-word;
  }
}
