.Facts {
  height: 100vh;
  display: flex;
  min-width: 0;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.Facts .Title {
  margin: 2.5vw;
  color: #c63457;
  font-size: 2.9vw;
}

.Facts .Card-container {
  display: flex;
  min-width: 0;
  align-items: center;
  justify-content: space-between;
  gap: 4vw;
  height: 100%;
  width: auto;
}

.Card {
  flex: 1;
}

@media screen and (max-width: 1100px) {
  .Facts .Title {
    margin: 20px;
    font-size: 35px;
    align-items: center;
    text-align: center;
  }

  .Facts .Card-container {
    flex-direction: column;
    gap: 10px;
    height: 80%;
  }
}